@font-face {
    font-family: 'source_sans_proregular';
    src: url(../assets/sourcesanspro-regular.otf) format('otf');  /*  Descargar */
    src: url('../assets/sourcesanspro-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: "source_sans_proregular";
}