@font-face {
    font-family: "source_sans_pro";
    src: url(../assets/SourceSansPro-Regular.otf) format('truetype');
    src: url(../assets/sourcesanspro-regular-webfont.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "getsu_magic";
    src: url(../assets/Getsu_Magic.otf) format('truetype');
    src: url(../assets/getsu_magic-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "seves_brg";
    src: url(../assets/SEVESBRG.TTF) format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}


body {
    font-family: "source_sans_pro", sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    /* font-family:  "seves_brg", cursive */
    font-family: "getsu_magic", cursive;
    padding: 0rem;
    text-align: center;
    font-size: 4rem;
    box-shadow: 5px 5px 5px 5px grey;
}

.content_wrapper {
    font-size: 1.1rem;
}

section.centrada {
    width: 83.8%;
    margin-left: auto;
    margin-right: auto;
}
 
section.centrada p { 
    border: 1px solid;
    padding: 1em;
   
}

.espacios {
    /* display: flex; */
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: lightblue;
}

.espacios::after {
    content:'';
    display: block;
    clear: both;
}

.espacios h2 {
    padding: 1rem;
    text-align: center;
    text-shadow: 5px 5px 5px grey;
}

.espacios p {
    padding: 1rem;
    background-color: lightcyan;
    margin-left: 2.5%;
    width: 30%;
    float: left;
}

.flex {
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: lightblue;
}

.flex h2 {
    padding: 1rem;
    text-align: center;
    flex: 1 0 100%;
}

.flex .flex_wrapper {
    display: flex;
}

.flex p {
    padding: 1rem;
    background-color: lightcyan;
    margin-left: 2.5%;
    /* width: 30%; */
    border-radius: 1em 4em 1em 4em/ 2em 1em 2em 1em;
}

.flex p:last-of-type {
    margin-right: 2.5%;
}

@media screen and (min-width:690px) {
    .espacios {
        padding: 1rem;
        background-color: lightcyan;

    }
    section .flex {
        flex-direction: row;
    }
}