/*****************************************
ESTILOS DEL HEADER
*****************************************/


.main_header {
    background-color: rgb(3, 213, 252);
    ;
    color: rgb(68, 49, 27)
    ;
    /* min-height: 10vh; */
    padding: 0.8rem 0rem 0.5rem 1rem;
    text-align: center;
    font-family: 'Cinzel', serif;

}

.main_header p {
    font-size: 1.33rem;
    font-weight: bold;
    margin-top: -1rem;
    margin-bottom: 0;
} 


/*****************************************
ESTILOS no usados APUNTES EXTRA
*****************************************/

/*****************************************
ESTILOS del FOOTER
*****************************************/

/*****************************************
ESTILOS del BODY
*****************************************/


.recuadro {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
}


.menu {
    background-color: rgb(186, 244, 254);
    color: rgb(66, 66, 66);
    margin: unset}

nav {
    margin-left: -1rem;
    padding: 0;
    background-color: rgb(127, 235, 255);
    color: rgb(66, 66, 66);
    margin: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
}
nav a {
    color: inherit;
    text-decoration: none;
    display: block;
    /* padding: 1rem; */

}

.p1 {
    background-color: rgb(127, 235, 255);
    color: rgb(66, 66, 66);
    padding: 1rem;
    font-weight: bold;
    text-align: center
    
}

.main_footer {
    background-color: rgb(3, 213, 252);
    color: black;
    text-align: center;
    padding: 1rem;
}

body {
    margin:0;
    background-color: rgb(186, 244, 254);
    /* font-family: "Homer Simpson", cursive; */
    font-size: large;
    font-family: 'Cinzel', serif;
}

.content_wrapper {
    margin: 1rem 3rem;
    color: rgb(51, 22, 22);
    font-family: 'Cinzel', serif;
}

.etiquetas {
    margin: 1rem 3rem;
}

h3 {
    background-color:  rgb(252, 251, 223);
    text-align: center;
    
}
.div3 {
    margin: 3rem;
}

img {
    max-width: 100%;
}

.image_wrapper {
    text-align: center;
    margin: 3rem;
}

h2 {
    background-color:  rgb(80, 227, 255);
    /* padding: 1rem; */
    text-align: center;
}

.p2 {
    background-color: rgb(219, 254, 255);
    text-align: center;
    border-radius: 15px;
}

nav {
    text-decoration: none;
    background-color: rgb(186, 244, 254);
    color: rgb(0, 7, 37);
    font-weight: bold;
    padding: 2rem;
}
nav a {
    color: inherit;
    text-decoration: none
}

.pimg {
    color: rgb(100, 100, 100);
}

.dt {
    float: left;
    clear: left;
}

.dd {
    float: left;
    clear: right;
}

.clearfix {
    clear: both;
}

.referencia {
    text-align: center
}


.lista {
    background-color: rgb(219, 254, 255);
}

.sub {
    text-decoration-line: underline
}
.negrita {
    font-weight: bold
}


.verde {
    color: green
}


/* strong {
    font-weight: normal;
    display: none
} */

.footer_inicio{
    text-align: center;
    margin: 1rem
}

/* .main_header nav {

}

.main_header nav ul {
    list-style-type: none
}

.main_header nav li {
    
}

.main_header nav a {
    color: inherit;
    text-decoration: none
} */

.image_wrapper_50 {
    width: 50%
}

.image_wrapper_25 {
    width: 25%
}

.image_wrapper_75 {
    width: 75%
}

.section_images img{
    max-width: 25%;
    display: block;
    float: left;
}

.web_externa {
    width: 100%;
    height: 60vh;
}

.youtube {
    text-align: center;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.youtube iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    }

video {
    max-width: 100%;
}

.centrar {
    text-align: center
}

video, embed {
    max-width: 100%
}

footer aside {
    margin-left: -1rem;
    padding: 0;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer li {
    display: inline-block;
}
footer a {
    color: inherit;
    text-decoration: none;
    display: block;
    /* padding: 1rem; */

}

.iframe_footer {
    width: 100%;
    border: none;
    height: 27vh;
}

/* .palabra_rota {
    overflow-wrap: break-word;
} */

.titulo {
    background-color:  rgb(3, 213, 252);
}    

.desarrollo {
    font-family: 'Lora', serif;
    text-align: center;
}

.main_table {
    width: 100%;
    text-align: center;
}

.main_table>tbody>tr>th {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
}

/* .main_table>tr:nth-of-type(even) {
    background-color: aliceblue;
}

.main_table>tr:nth-of-type(odd) {
    background-color: seashell;
} */

.main_table>tbody>tr:nth-of-type(even) {
    background-color: rgb(218, 238, 255);
}

.main_table>tbody>tr:nth-of-type(odd) {
    background-color: seashell;
}
/* nth-of-type(even)   las pares
nth-of-type(odd)    las impares    */
/* solo tr= todas */

.viajes th {
    border: 1px skyblue;
    padding-top: 0.5 rem;
    padding-bottom: 0.5 rem;
}

/* filas pares celdas de datos */
.viajes tr:nth-of-type(even) td {
    background-color: seashell;
}

/* filas impares celdas de datos */
.viajes tr:nth-of-type(odd) td {
    background-color: aliceblue;
}

.icono {
    position: relative;
    top: 10px;
}
.derecha {
    text-align: right;
}

.metadatos {
    max-width: 5%;
}

.form_control {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid gray;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

fieldset {
    margin-bottom: 1rem;
    border: none;
    
}

.form_label {
    margin-top: 16px;
    font-size: medium;
}

h4 {
    text-align: center;
    background-color: rgb(255, 253, 250);
    margin: 1rem 23rem;
    
}
form {
    text-align: center;
}

.form_title {
    font-weight: bold;
}

.padding {
    padding-top: 1rem;
}

/* canvas significa lienzo */

.canvas {
    width: 400px;
    height: 400px;
    border: none;
    background-color: rgb(186, 244, 254);
}

ol, ul {
    list-style: none;
}