.image_wrapper_left {
    width: 30%;
    float:left;
    padding-right: 2rem;
    padding-bottom: 0,5rem;
}

.image_wrapper_right {
    width: 30%;
    float:right;
    padding-right: 2rem;
    padding-bottom: 0,5rem;
}

img {
    max-width: 100%;
}

h1, h2 {
    text-align: center;
}

main {
    margin: 5%;
}

section.animales:after{
    content: '';
    display: block;
    clear: both;
}

footer {
    text-align: center;
}